body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active{
  border-radius: 6px;
  background-color: #481986;
  color: #ffffff !important; 
  /* margin-left: 0.5rem; */
  /* padding: 16px 80px 16px 16px; */
}

.active:hover{
  border-radius: 6px;
  background-color: #481986 !important;
  color: #ffffff !important;
  /* padding: 16px 100px 16px 16px;  */
  /* margin: 0.5rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Satoshi',
    monospace;
}
